.conteudo{
    margin-right: 40px;
    margin-left:  40px;
}
.fundo{
    padding: 15px;
    background-color: darkseagreen;
}
th{
    padding: 10px;
}
.tabela{
    background-color: darkslategrey;
    color: white;
    border-radius: 3px;
    width: 450px;
    box-shadow: 3px 3px black;
}
.foto{
    width: 300px;
    height 200px;
    border-left: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px black;
}
